* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: lightgray;
  padding: 5px;
}

h1 {
  font-size: 30px;
  color: blue;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
